# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/uploads/8104f8a4-3de8-4ce4-86b8-97787de6f410.jpg

# Environment files
.env
.env.local
.env.development
.env.production
.env*.local

# Local Netlify folder
.netlify
