@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 60 42% 98%;
    --foreground: 60 60% 3%;
    --muted: 30 25% 85%;
    --muted-foreground: 30 4% 26%;
    --popover: 60 42% 97%;
    --popover-foreground: 60 60% 2%;
    --card: 60 42% 97%;
    --card-foreground: 60 60% 2%;
    --border: 60 8% 92%;
    --input: 60 8% 92%;
    --primary: 60 65% 72%;
    --primary-foreground: 60 65% 12%;
    --secondary: 30 65% 72%;
    --secondary-foreground: 30 65% 12%;
    --accent: 90 65% 72%;
    --accent-foreground: 90 65% 12%;
    --destructive: 6 85% 38%;
    --destructive-foreground: 6 85% 98%;
    --ring: 60 65% 72%;
    --chart-1: 60 65% 72%;
    --chart-2: 30 65% 72%;
    --chart-3: 90 65% 72%;
    --chart-4: 30 65% 75%;
    --chart-5: 60 68% 72%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 60 55% 3%;
    --foreground: 60 19% 99%;
    --muted: 30 25% 15%;
    --muted-foreground: 30 4% 74%;
    --popover: 60 55% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 60 55% 4%;
    --card-foreground: 0 0% 100%;
    --border: 60 8% 10%;
    --input: 60 8% 10%;
    --primary: 60 65% 72%;
    --primary-foreground: 60 65% 12%;
    --secondary: 30 65% 72%;
    --secondary-foreground: 30 65% 12%;
    --accent: 90 65% 72%;
    --accent-foreground: 90 65% 12%;
    --destructive: 6 85% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 60 65% 72%;
    --chart-1: 60 65% 72%;
    --chart-2: 30 65% 72%;
    --chart-3: 90 65% 72%;
    --chart-4: 30 65% 75%;
    --chart-5: 60 68% 72%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
